@model IEnumerable<Kurumsal.Models.Sınıflar.Hakkimizda>
@{ ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
<section class="page-top-section set-bg" data-setbg="/Content/img/page-top-bg.jpg">
        <div class="container">
            <h2>Hakkımızda</h2>
        </div>
    </section>
<section class="about-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-push-6 about-text">
                <img src="~/Content/img/about.jpg" />
            </div>
            <div class="col-lg-6 col-lg-pull-6">

                <h2>
                    Hakkımızda
                </h2>

                @foreach (var item in Model)
                {
            @Html.Raw(item.Aciklama)}
            </div>
        </div>
    </div>
</section>
<section class="facts-section">
    <div class="facts-warp">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6 fact-item">
                    <div class="fact-icon">
                        <i style="font-size:60px;" class="fas fa-people-carry"></i>
                    </div>
                    <h2>1287</h2>
                    <p>Ekip Üyesi Sayımız</p>
                </div>
                <div class="col-lg-3 col-sm-6 fact-item">
                    <div class="fact-icon">
                        <i style="font-size:60px;" class="fas fa-building"></i>
                    </div>
                    <h2>25</h2>
                    <p>Şube Sayımız</p>
                </div>
                <div class="col-lg-3 col-sm-6 fact-item">
                    <div class="fact-icon">
                        <i style="font-size:60px;" class="fab fa-product-hunt"></i>
                    </div>
                    <h2>471</h2>
                    <p>Günlük Üretim Adetimiz</p>
                </div>
                <div class="col-lg-3 col-sm-6 fact-item">
                    <div class="fact-icon">
                        <i style="font-size:60px;" class="fas fa-building"></i>
                    </div>
                    <h2>326</h2>
                    <p>Desert receipies</p>
                </div>
            </div>
        </div>
    </div>
</section>