@model IEnumerable<Kurumsal.Models.Sınıflar.Slider>
@{ Layout = null; }

<div class="hero-slider owl-carousel containerx">
    @foreach (var item in Model)
    {
<div class="hero-slide-item set-bg" data-setbg="@item.ResimURL">
</div>}
</div>