@model IEnumerable<Kurumsal.Models.Sınıflar.Hizmet>
@using GridMvc.Html
@using PagedList;
@using PagedList.Mvc;
@using Kurumsal.Helper;
@{ ViewBag.Title = "AramaYap"; }


@if (ViewBag.NotFound == null)
{
<section class="product-list-area">
    <div class="container">
        <div class="row product-list">
            <h2 class="col-12">Arama Sonuçları</h2>
            @foreach (var item in Model)
            {

        <div class="col-12 col-md-6 product-listing">
            <a href="categories.html#exterior">
                <figure>
                    <img src="~/Content/img/Annotation 2020-08-15 141155.png" alt="Exterior" />
                    <figcaption>Exterior</figcaption>
                </figure>
            </a>
        </div>

        }
        </div>
    </div>
</section> }
else
{
<div class="alert alert-info text-center mt-5" style="margin-left:50%;transform:translate(-50%);">
    @ViewBag.NotFound
</div>}
