@model IEnumerable<Kurumsal.Models.Sınıflar.Hizmet>
@using Kurumsal.Helper;
@{ Layout = null; }

<!-- Hero Banner -->
<section class="cmn-banner d-flex hp-banner" onclick="window.location.href='projects/university-of-natural-resources.html'">

    <img alt="Home Banner" class="divImg" src="~/Content/img/Untitled-2.jpg" style="background-position: center; background-image:url(./MyFlower.png)" />
    <div class="container d-flex flex-column justify-content-end">
        <div class="row justify-content-end">
            <div class="col-12 col-md-6 banner-content">
                <div class="title-bg">
                    <h1 class="h3">Yalçın Dar Dokuma</h1>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias ad deserunt accusamus ipsum natus aliquid.
                    </p>
                    <!-- <span class="/projects/university-of-natural-resources">View Project</span> -->
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Home page Product listing -->
<section class="product-list-area">
    <div class="container">
        <div class="row product-list">
            <h2 class="col-12">Ürünler</h2>

            <div class="col-12 col-md-6 product-listing">
                <a href="categories.html#exterior">
                    <figure>
                        <img src="~/Content/img/Annotation 2020-08-15 141155.png" alt="Exterior" />
                        <figcaption>Exterior</figcaption>
                    </figure>
                </a>
            </div>
            <div class="col-12 col-md-6 product-listing">
                <a href="categories.html#interior-luminaries">
                    <figure>
                        <img src="~/Content/img/idk.png" alt="Interior" />
                        <figcaption>Interior</figcaption>
                    </figure>
                </a>
            </div>
            <div class="col-12 col-md-6 product-listing">
                <a href="categories.html#exterior">
                    <figure>
                        <img src="~/Content/img/Annotation 2020-08-15 141155.png" alt="Exterior" />
                        <figcaption>Exterior</figcaption>
                    </figure>
                </a>
            </div>
            <div class="col-12 col-md-6 product-listing">
                <a href="categories.html#interior-luminaries">
                    <figure>
                        <img src="~/Content/img/idk.png" alt="Interior" />
                        <figcaption>Interior</figcaption>
                    </figure>
                </a>
            </div>
            <div class="col-12 col-md-6 product-listing">
                <a href="categories.html#exterior">
                    <figure>
                        <img src="~/Content/img/Annotation 2020-08-15 141155.png" alt="Exterior" />
                        <figcaption>Exterior</figcaption>
                    </figure>
                </a>
            </div>
            <div class="col-12 col-md-6 product-listing">
                <a href="categories.html#interior-luminaries">
                    <figure>
                        <img src=~/Content/img//idk.png " alt="Interior " />
                        <figcaption>Interior</figcaption>
                    </figure>
                </a>
            </div>
        </div>

    </div>
</section>