@model IPagedList<Kurumsal.Models.Sınıflar.Hizmet>
@using PagedList;
@using PagedList.Mvc;
@using Kurumsal.Helper;
@{ ViewBag.Title = "KategoriHizmet";
    Layout = "~/Views/Shared/_Layout.cshtml"; }


<section class="product-list-area">
    <div class="container">
        <div class="row product-list">
            <h2 class="col-12">Ürünler (KATEGORİ ADI GELSE GÜZEL OLUR)</h2>

            @if (Model.Count() == 0)
            {
        <div class="alert alert-info text-center" style="margin-left:50%;transform:translate(-50%);">
            @TempData["UrunYok"]
        </div> }
    else
    {
        foreach (var item in Model)
        {
        <div class="col-12 col-md-6 product-listing">
            <a href="categories.html#exterior">
                <figure>
                    <img src="~/Content/img/Annotation 2020-08-15 141155.png" alt="Exterior" />
                    <figcaption>Exterior</figcaption>
                </figure>
            </a>
        </div>}
                    }
        </div>

    </div>
</section>