@model IEnumerable<Kurumsal.Models.HizmetKategori>
@using Kurumsal.Helper;
@{ 
    Layout = null;
    }
@{ ViewBag.Title = "Kategori Listesi"; }



@foreach (var item in Model)
{    <option value="/ÜrünPost/@SeoHelper.ToSeoUrl(item.HizmetKategoriAdi).ToLower()/@item.HizmetKategoriId">
        @item.HizmetKategoriAdi
    </option>

}