@model IEnumerable<Kurumsal.Models.Sınıflar.Mesaj>
@{ ViewBag.Title = "Iletisim";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<section class="contact-sec" style="background-color:black;">
    <div class="container">
        <div class="row">
            <div class="col-lg-3" data-ng-controller="ContactUsFrontEndController">
                <h1 class="page-title" style="color:white">İletişim</h1>

                @if (TempData["Başarısız"] != null)
                {
    <div class="alert alert-danger text-center" style="">
        @TempData["Başarısız"]
    </div>}
                @if (TempData["Basarılı"] != null)
                {
    <div class="alert alert-success text-center" style="">
        @TempData["Basarılı"]
    </div>}

                <form action="#" method="POST" class="contact-form">

                    @Html.AntiForgeryToken()

                    <div class="alert in alert-{{ messageType }} " data-ng-show="message" data-ng-cloak>
                        <i class="fa-fw fa fa-check"></i>
                        <span data-ng-bind="message"></span>
                    </div>
                    <div class="form-group" data-ng-class="errors.fullName ? 'has-error' : ''">
                        <div class="form-label">
                            <input type="text" id="FullName" name="FullName" class="form-control" data-ng-model="entity.fullName" maxlength="100">
                            <label for="FullName">Ad Soyad</label>
                        </div>
                        <small class="help-block" data-ng-show="errors.fullName" data-ng-bind="errors.fullName"></small>
                    </div>
                    <div class="form-group" data-ng-class="errors.companyName ? 'has-error' : ''">
                        <div class="form-label">
                            <input type="text" id="CompanyName" name="CompanyName" class="form-control" data-ng-model="entity.companyName">
                            <label for="CompanyName">Konu</label>
                        </div>
                        <small class="help-block" data-ng-show="errors.companyName" data-ng-bind="errors.companyName"></small>
                    </div>
                    <div class="form-group" data-ng-class="errors.email ? 'has-error' : ''">
                        <div class="form-label">
                            <input type="email" id="EmailAddress" name="EmailAddress" class="form-control" data-ng-model="entity.email" maxlength="256">
                            <label for="EmailAddress">Email</label>
                        </div>
                        <small class="help-block " data-ng-show="errors.email" data-ng-bind="errors.email"></small>
                    </div>
                    <div class="form-group" data-ng-class="errors.message ? 'has-error' : ''">
                        <div class="form-label">
                            <textarea id="Message" name="Message" class="form-control" rows="8" data-ng-model="entity.message" maxlength="4000"></textarea>
                            <label for="Message">Mesaj</label>
                        </div>
                        <small class="help-block" data-ng-show="errors.message" data-ng-bind="errors.message"></small>
                    </div>

                    <button type="submit" class="send-button">
                        Gönder
                    </button>
                </form>
            </div>

            <div class="col-lg-5 offset-lg-1">
                <img src="~/Content/img/ios-11-05.jpeg" />
            </div>
            <div class="col-lg-2 offset-lg-1 mt-5 right-col" style="padding-top:30px; color: white">
                <h4>
                    Merkez Şube
                </h4>
                <p>
                    1000 BEGA Way<br>Carpinteria, CA 93013
                    <br />
                    <br /> P 805.684.0533
                </p>
                <a>info@bega-us.com</a>
            </div>
        </div>

    </div>
</section>